:root {
  --primary: rgb(32, 201, 151);
  --primary-transparent: rgba(20, 144, 175, 0.7);
  --black: rgb(20, 20, 20);
  --white: rgb(240, 240, 240);
  --black-transparent: rgb(20, 20, 20, 0.7);
  --white-transparent: rgb(240, 240, 240, 0.7);
  --dark: rgb(36, 36, 36);
  --dark-transparent: rgba(36, 36, 36, 0.5);
  --light: rgb(225, 225, 225);
  --light-transparent: rgba(225, 225, 225, 0.5);
  --dark-drop-shadow: 0rem 0.25rem 0.75rem var(--dark-transparent);
  --light-drop-shadow: 0rem 0.25rem 0.75rem var(--light-transparent);
  --rounded-lg: 1.5rem;
  --rounded-sm: 1rem;
}

html {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: var(--light);
  color: #111;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
  max-width: 52.5rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

/* main {
} */

form {
  background-color: var(--white-transparent);
  border-radius: var(--rounded-lg);
  box-shadow: var(--dark-drop-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  width: 23.75rem;
}

.form-row {
  margin-top: 0.75rem;
}

label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

input {
  all: unset;
  background-color: var(--light);
  border: 0.0625rem solid var(--dark-transparent);
  border-radius: 0.75rem;
  height: 2.25rem;
  outline: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: all 200ms ease-in-out;
}

input:hover {
  background-color: rgb(214, 214, 214);
}

input:focus {
  background-color: var(--light);
  border-color: var(--primary);
  box-shadow: 0rem 0rem 0rem 0.0625rem var(--primary);
  outline: none;
}
