html {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #f1f1f1;
  color: #111;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
  max-width: 840px;
}

main {
}

form {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  width: 380px;
}

.form-row {
  margin-top: 12px;
}
